/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";

.google { background-color: #DB4437; }
.facebook { background-color: #3B5998; }
.twitter { background-color: #55ACEE; }
.github { background-color: #333333; }
.email { background-color: #FFFFFF; color: #757575; }
.phone { background-color: #02BD7E; }



.navbar-button-container {
    position: relative;
    height: 40px;
    max-height: 50px;
    min-height: 30px;
    background-color: red;
    width: auto;
    padding: 5px;
    margin:4px;
}
.navbar-button-container button {
    margin-right: 7px;
}
.navbar-button-container button:last-child {
    margin-right: 0;
}
.navbar-button-container.right {
    right: 0;
    float: right;
}

.navbar-button-container.left {
    left: 0;
    float: left;
}